<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>./inkFil</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css"></link>
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>
    <h1>This website was served by Crow Framework</h1>
    <p>This is a paragraph.</p>
    <figure>
        <img id="aligatorGAR_img" src="../images/aligatorGAR.jpg" alt="aligatorGAR.jpg" >
        <figcaption><i>aligatorgar: This image may be subject to copyright.</i></figcaption>
        <!--<i> width="500" height="600"</i>-->
    </figure>
</body>
</html>
